name: Laravel

on:
  push:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.0'
      - uses: actions/checkout@v4
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install Dependencies
        run: composer install
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Create Database
        run: |
          mysql -e 'CREATE DATABASE IF NOT EXISTS laravel_test;'
      - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
        env:
          DB_CONNECTION: mysql
          DB_DATABASE: laravel_test
          DB_HOST: localhost
          DB_PORT: 3306
          DB_USERNAME: your_mysql_username
          DB_PASSWORD: your_mysql_password
        run: php artisan test

  front:
    runs-on: ubuntu-latest 
    steps: 
      - uses: actions/checkout@v4
      - name: Install dependencies and build Vue.js app
        run: |
          npm install
          npm run build
